body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-icon {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.character-icon img {
    width: 256px;
    height: 256px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.character-icon img:hover {
    transform: scale(1.1);
}
