@import url('https://fonts.googleapis.com/css2?family=Impact&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Impact', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
    color: gold;
    text-shadow: 2px 2px 0px #000, 4px 4px 0px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

#app {
    text-align: center;
    position: relative;
    min-height: 100vh;
}

nav {
    margin-top: 20px;
}

.character-icon {
    display: inline-block;
    margin: 10px;
}

.character-icon img {
    width: 128px;
    height: 128px;
    cursor: pointer;
}

#search-container {
    text-align: center;
    margin-top: 20px;
}

#searchBar {
    width: calc(100% - 40px);
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#content {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Półprzezroczyste tło */
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.character-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.character-list-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 1200px) {
    .character-list-container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .character-list-container {
        width: 100%;
    }
}

#background-author {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}
