body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; /* Efekt przejścia */
    position: relative;
    overflow: hidden;
}

h1 { margin: 0; }

#app {
    text-align: center;
    position: relative;
    min-height: 100vh;
}

nav {
    margin-top: 20px;
}

#content {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

#searchBar {
    display: block; /* Pokazuje searchBar */
    margin-bottom: 10px; /* Margines na dół */
}

.character-icon {
    display: inline-block;
    margin: 10px;
}

.character-icon img {
    width: 128px;
    height: 128px;
    cursor: pointer;
}

#background-author {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 10; /* Zwiększenie z-index, aby tekst był na górze */
}

.character-list-container {
    background-color: #ffffffcc; /* Półprzezroczyste tło */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: calc(100% - 40px); /* Maksymalna szerokość - marginesy */
    margin: 0 auto; /* Centralne wyrównanie */
    margin-top: 20px; /* Dodatkowy margines na górę */
    display: flex;
    flex-wrap: wrap; /* Zawijanie do nowego wiersza */
    gap: 20px; /* Odstęp między elementami */
}

/* Ustalanie szerokości na maksymalnie 4 postacie w rzędzie */
.character-list-item {
    flex: 0 1 calc(25% - 20px); /* 25% szerokości - odstęp między elementami */
    max-width: calc(25% - 20px); /* Maksymalna szerokość - odstęp między elementami */
    margin-bottom: 20px; /* Margines na dół */
}

@media (max-width: 1200px) {
    .character-list-item {
        flex: 0 1 calc(33.33% - 20px); /* Trzy postacie w rzędzie */
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .character-list-item {
        flex: 0 1 calc(50% - 20px); /* Dwie postacie w rzędzie */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .character-list-item {
        flex: 0 1 100%; /* Jedna postać na całą szerokość */
        max-width: 100%;
    }
}
